SERVER_PORT=3022
DB_URL=jdbc:mysql://192.168.1.77:3308/srghtalk?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
DB_USERNAME=srghtalk_app
DB_PASSWORD=change-this-db-password
REDIS_ENABLED=true
REDIS_HOST=192.168.1.77
REDIS_PORT=6379
SRGHTALK_REDIS_PASSWORD=change-this-redis-password
REDIS_EVENT_CHANNEL=srghtalk:realtime
REDIS_PRESENCE_TIMEOUT_SECONDS=90
MINIO_ENDPOINT=http://192.168.1.77:9000
MINIO_ACCESS_KEY=srghtalk
MINIO_SECRET_KEY=change-this-minio-password
MINIO_BUCKET=srghtalk-files
LEGACY_UPLOAD_DIRECTORY=uploads
